
pandas==2.0.3
pillow==10.3.0
python-dotenv==1.0.1
pytesseract == 0.3.10
openai == 1.33.0
fastapi==0.111.0
uvicorn==0.30.1
pdf2image==1.17.0
sqlalchemy==2.0.31
langchain-openai==0.1.14
alembic==1.13.2
pydantic==2.8.2
psycopg2-binary==2.9.9
apscheduler==3.10.4
python-jose[cryptography]